body {
    background-color: grey;
}
.split-container {
    height: 90vh;
    display: grid;
    grid-template-rows: 100px, 100px, 100px, 100px, 100px, 100px;
    grid-template-columns: 100px, 100px, 100px, 100px, 100px, 100px;
}
.box-1 {
    grid-area: 3;
    background-color: white;
}